body {
margin: 0;
padding: 0;
font-family: Helvetica,Arial;
font-size: 13px;
background:url("bg.png") repeat-y scroll 0 top transparent;
}
a { cursor: pointer }
body.home {
	background: #FFF;
}

body.home #wrapper {
	margin-top: 150px;
}
.floatR {
float: right;
}
.floatL {
float: left;
}
a {
text-decoration: none;
color: #0000DE;
}
.container {
max-width:1114px;
padding-bottom:20px;
position:relative;
}

.iconos16 span, span.iconos16 {
	background: url(iconos.png) no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}


/* SEARCH HOME */
.taringa-search .search {
	top: 0!important;
}
.taringa-search .search-box {
	width: 610px;
	margin: 0 auto;
	position: relative;
}
form {
position: relative;
}
.search-btn-option {
-moz-border-radius:0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;

background:none repeat scroll 0 0 #021D38;
bottom:-33px;
color:#FFFFFF;
display:block;
font-size:11px;
padding:5px 10px;
position:absolute;

}

body.comunidades .search-btn-option {
background: #0A3801!important;
	
}
#filterPosts ul,#filterComunidades ul {
 margin: 10px 0 0 0;
 padding: 6px;
 background: #EEE;
 -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
   border-radius: 3px;
 list-style: none;
 font-weight: bold;
 width: 592px;
}

#filterPosts ul input,#filterComunidades ul input {
border:1px solid #CCCCCC;
display:inline;
float:none;
font-size:12px;
height:15px;
padding:4px;
vertical-align:middle;
width:160px;
}

#filterPosts ul li,#filterComunidades ul li {
	float: left;
	margin: 0 20px 0 0;
}

#filterPosts ul li select,#filterComunidades ul li select {
	margin: 5px 0;
	display: block;
}

#filterPosts ul li label,#filterComunidades ul li label {
		padding: 3px;
		display: block;
}

#filterComunidades ul li input {
	width: auto;
	padding: 0 15px  0 0;
}
/* HEADER */

.taringa-bar {
	border-bottom: none!important;
}

.taringa-bar ul li#logo {
	width: 170px;
	height: 25px;
	float: right!important;
	background: url(logos-home.png) no-repeat;
}
body.empleos .taringa-bar ul li#logo {background-position: 0 -60px}
body.posts .taringa-bar ul li#logo {background-position: 0 0}
body.comunidades .taringa-bar ul li#logo {background-position: 0 -30px}
body.internet .taringa-bar ul li#logo {background-position: 0 -89px}

#header ul {
margin: 0 0 0px 0;
padding: 0;
background:#FFF;
}
#header ul li, ul.search-options li {
float: left;
display: block;
position:relative;
z-index: 50;
}
#header ul li a, ul.search-options li a {
padding: 5px 10px;
display: block;
color: #000;
font-size: 13px;
font-weight: bold;
opacity: 0.6;
}
#header ul li a:hover {
opacity: 1
}
#header ul li.selected a, ul.search-options li.active a {
background: #6baee6;
color: #FFF!important;
text-shadow: 0 1px 0px rgba(0,0,0,0.5);;
opacity: 1!important;
border-bottom: 2px solid #6baee6;
border-right: #11478c 1px solid;
border-top: #11478c 1px solid;
border-left: #11478c 1px solid;
}

#header ul li.selected a {
	border-top: none!important;
	
}
ul.search-options  li a { 
	border: 1px solid #CCC;
	background: #EEE;
	border-bottom: none!important;
}
#header ul.bar-list li a {
	opacity: 1;
}

#header .tab-search.iconos16.tab-web span {background-position: 0 -1px;}
#header .tab-search.iconos16.tab-posts span {background-position: 0 -18px;}
#header .tab-search.iconos16.tab-comunidades span {background-position: 0 -35px;}
#header .tab-search.iconos16.tab-empleos span {background-position: 0 -52px;}

#header .tab-search.iconos16.selected.tab-web span {background-position: -17px -1px;}

#header .tab-search.iconos16.selected.tab-posts span {background-position: -17px -18px;}
#header .tab-search.iconos16.selected.tab-comunidades span {background-position: -17px -35px;}
#header .tab-search.iconos16.selected.tab-empleos span {background-position: -17px -53px;}

#header .tab-search.iconos16.tab-home span {background: url(home.png) no-repeat 0 0;}
#header .tab-search.iconos16.tab-home a {background: #000}


.iconos16.icon-expand {display:none}
#header .search,.taringa-search .search {
background:  url(bg-search.png) repeat-x top left;
background-color: #479ae0;
padding:8px 0;
-moz-box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.4);
box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.4);

border-bottom:#11478c 1px solid;
border-top: #11478c 1px solid;
position: relative;
top: -2px;
}

/* Diferentes Buscadores */

	.comunidades .search {
		background-color: #1f9109!important;
		border-bottom: #0a3801 1px solid!important;
		border-top: #0a3801 1px solid!important;
	}
	.comunidades .taringa-bar ul.floatL li.selected a, .comunidades ul.search-options li.active a {
		background: #4ba73a!important;
		border-bottom: 2px solid #4ba73a!important;
		border-right: #0a3801 1px solid!important;
		border-left: #0a3801 1px solid!important;
		border-top: #0a3801 1px solid!important;
	}
	/*
	.comunidades .taringa-bar {
		border-bottom: 1px solid #0a3801!important;
	}
	*/
	.posts .search {
		background-color: #004a95!important;
		border-bottom: #021d38 1px solid!important;
		border-top: #021d38 1px solid!important;
	}
	.posts .taringa-bar ul.floatL li.selected a,.posts ul.search-options li.active a  {
		background: #326da9!important;
		border-bottom: 2px solid #326da9!important;
		border-right: #021d38 1px solid!important;
		border-left: #021d38 1px solid!important;
		border-top: #021d38 1px solid!important;
	}
	/*
	.posts .taringa-bar {
		border-bottom: 1px solid #021d38!important;
	}
	*/
	.internet .search {
		background-color: #097c91!important;
		border-bottom: #03323b 1px solid!important;
		border-top: #03323b 1px solid!important;
	}
	.internet .taringa-bar ul.floatL li.selected a, .internet ul.search-options li.active a  {
		background: #3894a5!important;
		border-bottom: 2px solid #3894a5!important;
		border-right: #03323b 1px solid!important;
		border-top: #03323b 1px solid!important;
		border-left: #03323b 1px solid!important;
	}
	
	
#header #logo,.taringa-search .search #logo {
	float: left;
	margin: 0 23px 0 6px;
}
#header #logo a,.taringa-search .search #logo a {
	width: 230px;
	height: 31px;
	background: url(logo.png) no-repeat top left;
	display: block;
	text-indent: -999999px;
	margin: 6px;
}

#header .search .search-box {
	float: left;
}

textarea, input,textarea:focus, input:focus{ outline:none;}


#header .search .search-box .input-left,#header .search .search-box input,#header .search .search-box .input-right,
.taringa-search .search .search-box .input-left,.taringa-search .search .search-box input,.taringa-search .search .input-right  {
	height: 26px;
	float: left;
	display: block;
	padding: 8px 0;
	font-size: 16px;
	border: none;
	outline: none!important;
}

.btn-search a {
	width: 94px;
	height: 42px;
	background: url(btn-buscar.png) no-repeat;
	background-position: 0 0;
	margin-left: 10px;
	display: block;
}

.buscar input {
	outline: none!important;
}

.btn-search a:hover {
	background-position: 0 -43px;
}

.btn-search a:active {
	background-position: 0 -86px;
}

#header .search .search-box .input-left, .taringa-search .search .search-box .input-left {
	width: 40px;
	background: url(input_left.png) top left no-repeat;
}

#header .search .search-box input,.taringa-search .search .search-box input {
	width: 450px;
	background: url(input.png) top left repeat-x;
	font-family: Helvetica, Arial;\
}

#header .search .search-box .input-right,.taringa-search .search .search-box .input-right{
	width: 10px;
	background: url(input_right.png) top left no-repeat;
}


#header .search .search-box form {
	width: auto;
	padding: 0;
	margin: 0;
}


#homeEmpleos {
background:none repeat scroll 0 0 #EEEEEE;
border:1px solid #CCCCCC;
margin:20px auto;
padding:12px;
width:578px;
}
/* Bar List */

ul.bar-list  {
	margin: 0;
	padding: 0;
	list-style: none;
	height:28px
}


.bar-list li {
	float: left;
	display: block;
	list-style: none;
	background-image: url(bg-bar-li.gif) ;
	background-repeat:no-repeat;
	background-position: left top;
}

.bar-list li.home {
    background-position: right top;
}
#header ul.bar-list li a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding: 7px 10px;
}

.bar-list li.registrate a {
	color: #229122;
}


.bar-list li.icon a span {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(bar-icons.png);
	background-repeat: no-repeat;
}

.bar-list li.nick a span {
	display: block;
	width: auto;
	height: 16px;
	background: none;
}

.bar-list li.clima a span {
	background: none;
	width: auto;
}

.bar-list li.favoritos a span { background-position: 0 0}
.bar-list li.monitor a span { background-position: -16px 0}
.bar-list li.mensajes a span { background-position: -32px 0}
.bar-list li.home a span { background-position: -48px 0}
.bar-list li.salir a span { background-position: -64px 0}



/* Sidebar */
#sidebar {
left: 0;
position: absolute;
top: 0;
width: 180px;
}

.filter-box {
padding: 15px 10px 15px 10px;
width: 160px;
background: url(divider.gif) repeat-x bottom left;
}


.filter-box ul.expand li {
	clear: both;
	display: none!important;
}


.filter-box ul.expand li.show {
	display: block!important;
}

.filter-box ul li a {
	display: block;
	text-transform:capitalize;
}

.filter-box ul li.vermas {
	border-top:1px dotted #CCCCCC;
	font-size:11px;
	margin-top:5px;
	padding:3px 0;
	text-align:center;
	display: block!important;
	background: #FFF!important;

}


.filter-box ul li.vermas a {
	color: #666;
	display: block;
	cursor: po;
}
.filter-box ul li a:hover span {
	text-decoration: underline;
}

.filter-box span {
	float: left;
}

.filter-box ul li a:hover span.count {
	text-decoration: none!important;
}




.filter-box span.count {
	float: right;
	color: #999;
}

#sidebar h6 {
	font-weight: bold;
	font-size: 12px;
	margin: 0 0 5px 0;
}

#sidebar h6 a {
	text-decoration: none;
	font-weight: bold;
	color: #000!important;
}


#sidebar  a:visited {
	color: #003ecc;
}
#sidebar ul  {
	list-style:none outside none;
	margin:0;
	padding:0;
}

#sidebar ul  li {
	display: block;
}
#sidebar .ui-slider-handle {
	background: url(handle.png) no-repeat top left;
	cursor: move;
	outline: 0;
	width: 9px;
	height: 16px;
	top: -5px;
}  

#sidebar .ui-slider-handle {

}

#sidebar a.ui-slider-handle:hover;#sidebar a.ui-slider-handle:active,#sidebar a.ui-slider-handle:focus {
	outline: 0;
}

#sidebar  .ui-slider-range {
		background: url("range.png") repeat-x scroll left 1px transparent
}

#sidebar  .ui-slider-horizontal {
background:url("slider.png") repeat-x scroll left 1px transparent;
margin-left:8px;
margin-top:10px;
outline:medium none;
width:150px;
}

#sidebar .salario-number {
	font-size:12px;
	font-weight:bold;
	margin-top:5px;
	text-align:center;
	text-shadow:0 1px 0 #FFFFFF;
}

/* Results */

#avisosTop {
	margin-left: -8px;
	padding-bottom: 12px;	
	border-bottom: 1px dotted #E1E1E1;
	margin-bottom: 12px;
}

#avisosVert {
	background:none repeat scroll 0 0 #FFFFFF;
	border-left:1px dotted #E1e1e1;
	margin:6px 0 0 10px;
	position:absolute;
	right:0;
	top:0;
	width:240px;
	margin-top: 60px;
}
#results {
	margin:0 250px 0 200px;
	max-width:700px;
	padding-top:15px;
}

.filters-apply {
	margin-bottom: 10px;
}

.filters-apply span {
	background: -moz-linear-gradient(0% 70% 90deg,#317BD1, #3B87DC);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	display: block;
	float: left;
	border: 1px solid #11478c;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
	padding: 5px 10px; 
	margin-right: 10px;
	background: #317BD1;
}

.filters-apply span:hover {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);
}

.filters-apply span strong {
	display: inline-block;
	
}

.filters-apply span a {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin-left: 10px;
	vertical-align: middle;
	background:url(cross.png) no-repeat top left;
}


.filter-bar {
	margin-bottom: 10px;
	background: #e5ecf9;
	border-bottom: #89a9e4 1px solid;
	padding: 5px 5px 0 5px;
}

.comunidades .filter-bar {
	background: #ebf9e5;
	border-bottom: #a6e489 1px solid;
}

.empleos .filter-bar {
	background: #e5f5f9;
	border-bottom: #89d8f5 1px solid;
}

.search-results {
	padding:4px 6px;
}
.filter-bar ul,.filter-bar ul li, .filter-bar span {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.filter-bar span {
	padding: 4px 10px 0 5px;
}

.filter-bar ul li a {
	display: block;
	font-size: 14px;
	color: #003ecc;
	font-weight: bold;
	padding: 5px 15px;
	text-decoration: underline;
}


.filter-bar ul li.selected a {
	color: #000;
	background: #FFF;
	border-right: #89a9e4 1px solid;
	border-left: #89a9e4 1px solid;
	border-top: #89a9e4 1px solid;
	border-bottom: #FFF 1px solid;
	margin-bottom: -1px;
	text-decoration: none;
}

.comunidades .filter-bar ul li.selected a {
	border-right: #a6e489 1px solid;
	border-left: #a6e489 1px solid;
	border-top: #a6e489 1px solid;
	border-bottom: #FFF 1px solid;
}
.comunidades .filter-bar ul li.selected a {
	border-right: #89d8f5 1px solid;
	border-left: #89d8f5 1px solid;
	border-top: #89d8f5 1px solid;
	border-bottom: #FFF 1px solid;
}


.filter-bar ul li a:hover {
	background: #f7f9fc;
}



#results ol li  {
	border-bottom:1px dotted #E1E1E1;
	margin-bottom:12px;
	padding-bottom:12px;
}

#results ol li h2  {

	margin:0;

}

#results h2.categoriaCom a {
	background-image: url('../images/big5v1.png');
	padding-left: 22px;
}
#results h2.categoriaPost a {
	background-image: url('../images/big1v12.png');
	padding-left: 22px;
}

#results ol li h2 a {
	color:#1111CC;
	font-size:16px;
	font-weight:normal;
	margin:0;
	text-decoration:underline;
	background-repeat: no-repeat;
}
#results ol li h2 span {
	text-decoration: none;
	color: green;
	font-size: 11px;
	text-transform: uppercase;
}

#results ol li.result-i .subtitle {
	color: #666;
	display: block;
	margin-top: 2px;
	text-transform: capitalize;
}

#results ol li.result-i div.info {
	color:#444444;
	font-size:13px;
	line-height:1.3em;
	max-width:595px;
	margin-top: 3px;
}


#results ol li.result-i div.info a {
	color: #7777CC;
	font-weight: normal!important;
}

#results ol li.result-i div.info img {
	vertical-align: middle;
}


#results ol li span.url {
	font-size: 13px;
	color: #228822;
	font-weight: normal;
}

#results .date {
	color: #228822;
}

#results .company {
	font-weight: bold;
}
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}


.pagesCant {
	float: left;
}

.pagesCant ul {
	margin: 0;
	padding: 0;
}

.pagesCant ul li {
	float:left;
	display: block;
	margin:0 5px 0 0;
}


.pagesCant ul li a {
	border:1px solid #CCCCCC;
	display: block;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding:4px 8px 2px;
	font-size: 14px;
}

.pagesCant ul li a span {
	color: #888;
}
.pagesCant ul li a:hover {
	border:1px solid #999;
	background: #F1F1F1;
}

.pagesCant ul li a.here {
	border: none;
	display: block;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	font-size: 14px;
	color: #000;
}

.floatL.next a, .floatL.before a {
border:1px solid #CCCCCC;
display:block;
font-size:14px;
margin-right:5px;
padding:4px 8px 2px;
}


/*

FOOTER 

*/

#footer {
background:none repeat scroll 0 0 #F7F7F7;
border-top:2px solid #EEEEEE;
color:red;
margin:20px 250px 0 200px;
padding:12px;
font-size: 11px;
position:relative;
}

#footer ul {
	color:#000000;
	display:block;
	margin:0 35px 5px 0;
	padding:0;
}

#footer ul li {
	float: left;
	display: block;
	padding-right: 5px;
}


#footer ul li.title {
	font-weight:bold;
	width:75px;
}

/* LOGIN */
#login_box {
	background:none repeat scroll 0 0 black;
	padding:18px;
	position:absolute;
	right:0;
	top:28px;
	width:200px;
	color: #FFF;
	z-index: 300;
}


#login_box label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

#login_box input {
	margin-bottom:5px;
	width:195px;
	padding: 3px;
}


.categoriaPost.juegos a {background-position:0 -44px;}
.categoriaPost.imagenes a {background-position:0 -66px;}
.categoriaPost.links a {background-position:0 -86px;}
.categoriaPost.videos a {background-position:0 -112px;}
.categoriaPost.arte a {background-position:0 -132px;}
.categoriaPost.offtopic a {background-position:0 -152px;}
.categoriaPost.animaciones a {background-position:0 -174px;}
.categoriaPost.musica a {background-position:0 -196px;}
.categoriaPost.downloads a {background-position:0 -220px;}
.categoriaPost.noticias a {background-position:0 -244px;}
.categoriaPost.info a {background-position:0 -285px;}
.categoriaPost.tv-peliculas-series a {background-position:0 -306px;}
.categoriaPost.patrocinados a {background-position:0 -332px;}
.categoriaPost.poringueras a {background-position:0 -418px;}
.categoriaPost.gay a {background-position:0 -507px;}
.categoriaPost.relatos a {background-position:0 -528px;}
.categoriaPost.linux a {background-position:0 -551px;}
.categoriaPost.deportes a {background-position:0 -572px;}
.categoriaPost.celulares a {background-position:0 -590;}
.categoriaPost.apuntes-y-monografias a {background-position:0 -614px;}
.categoriaPost.comics a {background-position:0 -637px;}
.categoriaPost.solidaridad a {background-position:0 -661px;}
.categoriaPost.recetas-y-cocina a {background-position:0 -678px;}
.categoriaPost.mac a {background-position:0 -706px;}
.categoriaPost.femme a {background-position:0 -727px;}
.categoriaPost.autos-motos a {background-position:0 -747px;}
.categoriaPost.humor a {background-position:0 -767px;}
.categoriaPost.ebooks-tutoriales a {background-position:0 -789px;}
.categoriaPost.salud-bienestar a {background-position:0 -808px;}
.categoriaPost.Zincomienzo a {background-position:0 -438px;}
.categoriaPost.economia-negocios a {background-position:0 -846px;}
.categoriaPost.mascotas a {background-position:0 -866px;}
.categoriaPost.turismo a {background-position:0 -890px;}
.categoriaPost.manga-anime a {background-position:0 -912px;}
.categoriaPost.hazlo-tu-mismo a {background-position:0 -935px;}
.categoriaPost.ciencia-educacion a {background-position:0 -958px;}





.categoriaCom.deportes a {background-position: 0 -17px;}
.categoriaCom.diversion-esparcimiento  a {background-position: 0 -36px;}
.categoriaCom.economia-negocios a {background-position: 0 -54px;}
.categoriaCom.entretenimiento-medios a {background-position:0 -71px;  }
.categoriaCom.grupos-organizaciones  a{background-position: 0 -90px;}
.categoriaCom.interes-general a {background-position: 0 -107px;}
.categoriaCom.internet-tecnologia a {background-position: 0 -125px;}
.categoriaCom.musica-bandas a {background-position: 0 -143px;}
.categoriaCom.regiones a {background-position: 0 -164px;}


/* XTRAS */
/* new clearfix */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix {
zoom: 1;
}
/* IE6 */
*:first-child+html .clearfix {
zoom: 1;
}
/* IE7 */
#sidebar {
}
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
