#maincontainer{background: url(/images/maincontainerbg-grey.gif) repeat-x #373737}
.rtop,.rbott {background: url(/images/rtopbg-grey.gif) no-repeat left top;}
.subMenu{background:  url(/images/shadowSubMenu.png) #353535 repeat-x scroll left top;
border-left:1px solid #4b4b4b;
border-right:1px solid #4b4b4b;}
.subMenu ul.tabsMenu li {
background: #5a5a5a;}
.subMenu ul.tabsMenu li:hover {
background: #9c9c9c;}
.menuTabs #tabbedPosts.here a {
	  	background: url(../menu_left_corner_hereg.gif) no-repeat top left;
}
.userInfoLogin {
	background: url(../loginCornerg.gif) no-repeat top right;